<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="folderserver" value ="\\192.168.45.2\00 - Departments\Common\scan\IT\NLCM Client"/>
    <add key ="localfolder" value ="LocalService"/>
  </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>